.contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 4rem;
}

.contactTitle {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  text-align: left;
}

.contactText {
  color: var(--text-color);
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
}

.email {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--primary);
  transition: color 0.3s ease;
}

.email:hover {
  color: var(--primary);
  text-decoration-color: var(--primary);
}
