.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d1117;
  color: white;
  padding: 1.5rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: inherit;
  display: flex;
}

.slash {
  color: #facc15;
  margin-right: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.link:hover {
  color: #facc15;
}

.icon {
  font-size: 1.2rem;
  color: white;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #facc15;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
}
