:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #2544f5;
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #0d1117;

  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="light"] {
  --primary: #2544f5;
  --text-color: #1a1a1a;
  --background-color: #d1d1d1;
  --card-background: rgba(0, 0, 0, 0.05);
}

:root[data-theme="dark"] {
  --primary: #2544f5;
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #0d1117;
  --card-background: rgba(255, 255, 255, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: inherit;
}

button,
input,
textarea {
  font-family: inherit;
}
